@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeue-Medium.otf) format("opentype");
}

#title {
   width: 50%;
   font-family: Helvetica;
   font-size: 30;
}

#navbar {
   width: 50%;
   font-family: Helvetica;
   font-size: 30;
}

a.navbar:link {
    	text-decoration: none;
	color: #EB3333;
	text-color: #000000;
}
a.navbar:visited {
    text-decoration: none;
	color: #EB3333;
	text-color: #000000;
}
a.navbar:hover {
    text-decoration: none;
	color: #000000;
}
a.navbar:active {
    text-decoration: none;
	color: #000000;
}


