@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeue-Medium.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeue-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeue-Italic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica";
  src: url(/fonts/HelveticaNeue-Light.otf) format("opentype");
  font-weight: lighter;
  font-style: normal;
}

h1 { font-family: "Helvetica", sans-serif }
a { font-family: "Helvetica", sans-serif }

a:link {
  font-family: "Helvetica", sans-serif
}

/* visited link */
a:visited {
  font-family: "Helvetica", sans-serif
}

/* mouse over link */
a:hover {
  font-family: "Helvetica", sans-serif
}

/* selected link */
a:active {
  font-family: "Helvetica", sans-serif
}



h1 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 
h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 
p { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 
blockquote { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
